<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>This is Home page</title>
</head>
<body>
	
	<section>
	
	 <div id="login">
  		
        <div class="container">
        	
            <div id="login-row" class="row justify-content-center align-items-center">
            	
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12" style="height: 230px;">
                    
                    	<div th:if="${session.message}" class="alert alert-danger my-2 text-center" role="alert">
							<span th:text="${session.message}"></span>
							
							<!-- remove message from session -->
							<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
							
					</div>
                    	
                        
                        <!-- Email form -->
                        <h3 class="text-center m-3">Your Registered Email</h3>
                        <form action="/send-otp" method="post">
                        	<div class="form-group mt-4">
                        		<input required type="text" name="email" class="form-control" placeholder="Enter email here">
                        	</div>
                        	<div class="container text-center">
                        		<button class="btn btn-warning">Send OTP</button>
                        	</div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
	</section>
</body>
</html>