<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>This is Home page</title>
</head>
<body>
	
	<section class="banner d-flex justify-content-center align-items-center" >
	<div class="text-center">
	<h2 class="font-weight-bold">Smart Contact Manager</h2>
	<p>Start managing your contacts smartly with our Smart Contact Manager App </p>
	<a class="btn bg-primary text-white" href="/signup">Get Start</a>
	</div>
	</section>
</body>
</html>