<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>This is Home page</title>
</head>
<body>

	<section>

		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="my-card mt-3">
					
					<div th:if="${session.message}" th:classappend="${session.message.type}" role="alert">
					<p class="text-center" th:text="${session.message.content}"></p>
					
					<!-- remove message from session -->
					<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
					


					</div>
					
						<h1 class="text-center">Register Here</h1>
						<form   action="" th:action="@{do_register}" method="post" th:object="${user}">
						
							<!-- name field -->
							<div class="form-group">
								<label for="name_field">Your Name</label> 
								<input
									name="name" type="text" class="form-control"  id="name_field"
									aria-describedby="emailHelp" placeholder="Enter here"  required th:value="${user.name}" th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : '' }">
									
									 <div class="invalid-feedback" th:each="e : ${#fields.errors('name')}" th:text="${e}">
     									
     								 </div>
								
							</div>
							
							<!-- email field -->
							<div class="form-group">
								<label for="email_field">Your Email</label> 
								<input
									name="email" type="email" class="form-control" id="email_field"
									aria-describedby="emailHelp" placeholder="Enter here" required th:value="${user.email}" th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : '' }">
									
									
									 <div class="invalid-feedback" th:each="e : ${#fields.errors('email')}" th:text="${e}">
     									
     								 </div>
									
								
							</div>
							
							<!-- password field -->
							<div class="form-group">
								<label for="password_field">Your Password</label> 
								<input
									 name="password" type="password" class="form-control" id="password_field"
									aria-describedby="emailHelp" placeholder="Enter here" required th:classappend="${#fields.hasErrors('password') ? 'is-invalid' : '' }">
									
									
									 <div class="invalid-feedback" th:each="e : ${#fields.errors('password')}" th:text="${e}">
     									
     								 </div>
								
							</div>
							
							<!-- user about field -->
							<div class="form-group">
								
								<textarea name="about" th:value="${user.about}" placeholder="Enter something about yourself" rows="10" class="form-control"></textarea>
									
								
							</div>
							
							<div class="form-group form-check">
							<input type="checkbox" name="agreement" class="form-check-input" id="agreement">
							<label for="agreement">Accept terms and conditions</label>
							</div>
							
							
							<div class="container text-center">
							<button type="submit" class="btn bg-primary text-white">Submit</button>
							<button type="reset" class="btn btn-warning text-white">Reset</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>


	</section>
</body>
</html>